.aboutpage_main_container {
  display: flex;
  justify-content: space-around;
  align-items: center;

  margin-left: 50px;
  margin-right: 50px;

  height: 110vh;
}

.values {
  width: 50%;
  height: 70vh;
  padding: 20px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  background-color: #797060;
}

.values h2 {
  font-size: 50px;
  line-height: 30px;
  font-weight: 400;
  letter-spacing: 5px;
  color: whitesmoke;
}

.values h5 {
  font-size: 18px;
  line-height: 22px;
  font-weight: 500;
  letter-spacing: 1px;
  font-style: italic;
  color: whitesmoke;
  font-weight: bold;
}

.values p {
  color: whitesmoke;
}

.whoweare {
  width: 50%;
  height: 70vh;
  padding: 20px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  border-right: solid 2px #655d4c;
}

.whoweare h2 {
  font-size: 50px;
  line-height: 30px;
  font-weight: 400;
  letter-spacing: 5px;
  color: #655d4c;
}

.whoweare p {
  color: #655d4c;
}

@media (max-width: 480px) {
  .title {
    font-size: 20px;
  }
  .aboutpage_main_container {
    flex-direction: column;
    height: 220vh;
    margin-top: 90px;
  }

  .whoweare {
    width: 100%;
    height: 70vh;
    border: none;
  }

  .whoweare h2 {
    font-size: 20px;
  }

  .whoweare p {
    font-size: 15px;
  }

  .values {
    width: 100%;
    height: 80vh;
  }

  .values h2 {
    font-size: 20px;
  }

  .values h5 {
    font-size: 15px;
  }

  .values p {
    font-size: 15px;
  }
}