@import 'navbar.css';
@import 'banner.css';
@import 'home.css';
@import 'footer.css';
@import 'about.css';
@import 'projects.css';
@import 'contact.css';

body {
  margin: 0px;
  background-color: #fafafa;
  width: 100%;
}

.container {
  margin: 0px;
}